In [1]:
print('Hello')

Hello

In [ ]:
bool1 = True
bool2 = 'True'
isinstance(bool1, bool)
# isinstance(bool2, bool) #False

In [13]:
# bool(0) # False
bool(1)

True

In [14]:
mystr = "Hello LA"
print(len(mystr))

8

In [16]:
mystr1 = "HELLO PYTHON"
print(mystr1[len(mystr1)-1])

N

In [17]:
print(mystr1[:-5])

HELLO P

In [18]:
print(mystr1[-5:])

YTHON

In [23]:
print(mystr1[::-1])
# Enumerate returns tuples

NOHTYP OLLEH

In [24]:

for i in enumerate(mystr1): 
    print(i,end= " ")
    print(type(i), end="\n")

(0, 'H') <class 'tuple'>
(1, 'E') <class 'tuple'>
(2, 'L') <class 'tuple'>
(3, 'L') <class 'tuple'>
(4, 'O') <class 'tuple'>
(5, ' ') <class 'tuple'>
(6, 'P') <class 'tuple'>
(7, 'Y') <class 'tuple'>
(8, 'T') <class 'tuple'>
(9, 'H') <class 'tuple'>
(10, 'O') <class 'tuple'>
(11, 'N') <class 'tuple'>

In [25]:
list(enumerate(mystr1))

[(0, 'H'),
 (1, 'E'),
 (2, 'L'),
 (3, 'L'),
 (4, 'O'),
 (5, ' '),
 (6, 'P'),
 (7, 'Y'),
 (8, 'T'),
 (9, 'H'),
 (10, 'O'),
 (11, 'N')]

In [26]:
"""
The partition() method searches for a specified string and splits the string into
- The first element contains the part before the argument string.
- The second element contains the argument string.
- The third element contains the part after the argument string.
"""
str5 = "Natural language processing with Python and R and Java"
L = str5.partition('and')
print(L)

('Natural language processing with Python ', 'and', ' R and Java')

In [ ]:
# STRING METHODS:
# 1. .strip("*")
# 2. .lower() and .upper()
# 3. .replace("He", "Ho") -> Replace He with Ho
# 4. .count("and") -> returns the count of word "and" in string
# 5. .startswith("one") and .endswith("one") -> returns boolean
# 6. .find("five") and .index("five") -> Find the location of word 'five' in the string return the position
# 7. .isalpha(), .isalnum(), .isdecimal(), .isupper(), .islower() -> returns boolean

# LIST

In [39]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']

mylist[-3:]

['six', 'seven', 'eight']

In [28]:
mylist[:]

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [29]:
mylist.append('nine')
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [30]:
mylist.insert(9, 'ten')
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [31]:
mylist.remove('ten')
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [33]:
mylist.pop()
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [34]:
mylist.pop(7)
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [40]:
mylist[0] = 1
mylist[1] = 2
mylist[3] = 3
mylist

[1, 2, 'three', 3, 'five', 'six', 'seven', 'eight']

In [42]:
mylist2 = mylist
id(mylist), id(mylist2)

(4389991360, 4389991360)

In [43]:
mylist2 = mylist.copy()
id(mylist), id(mylist2)

(4389991360, 4392027392)

In [44]:
mylist

[1, 2, 'three', 3, 'five', 'six', 'seven', 'eight']

In [45]:
mylist[0] = 'One'
mylist

['One', 2, 'three', 3, 'five', 'six', 'seven', 'eight']

In [46]:
mylist2

[1, 2, 'three', 3, 'five', 'six', 'seven', 'eight']

In [49]:
'One' in mylist

True

In [50]:
if 'three' in mylist:
    print('Three is present in mylist')
else:
    print('Three is NOT present in mylist')

Three is present in mylist

In [ ]:
mylist.reverse()
mylist

In [54]:
mylist = mylist[::-1]
mylist

['One', 2, 'three', 3, 'five', 'six', 'seven', 'eight']

In [56]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort() # Sort list in ascending order
print(mylist3)

[2, 5, 9, 12, 34, 88, 99]

In [58]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort(reverse=True) # Sort list in descending order
print(mylist3)

[99, 88, 34, 12, 9, 5, 2]

In [60]:
mystring = "WELCOME"
mylist = [i for i in mystring]
print(mylist)

['W', 'E', 'L', 'C', 'O', 'M', 'E']

In [62]:
mylist1 = [i for i in range(40) if i % 2 == 0]
print(mylist1)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [63]:
mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
alphaList = [i for i in mystr if i.isalpha()]
print(alphaList)

['O', 'n', 'e', 't', 'w', 'o', 't', 'h', 'r', 'e', 'e', 'f', 'o', 'u', 'r', 'f', 'i', 'v', 'e', 's', 'i', 'x']

# TUPLES

Tuples are immutable

In [64]:
tup1 = ()

In [65]:
tup2 = (10,30,60)

In [67]:
tup5 = ('Asif', 25 ,(50, 100),(150, 90)) # Nested tuples
print(tup5)

('Asif', 25, (50, 100), (150, 90))

In [68]:
tup6 = (100, 'Asif', 17.765) # Tuple of mixed data types

In [69]:
for i in tup6:
    print(i)

100
Asif
17.765

In [72]:
for i in enumerate(tup6):
    print(type(i), end="")
    print(i)

<class 'tuple'>(0, 100)
<class 'tuple'>(1, 'Asif')
<class 'tuple'>(2, 17.765)

In [73]:
tup7 = ('Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'} , (99,22,33))
len(tup7)

6

In [76]:
print(type(tup7[4]))

<class 'set'>

In [78]:
print(tup7[4])

{'John', 'David'}

In [79]:
tup4 = ('one','two' , "three") # tuple of strings

In [80]:
print(type(tup4[0]))

<class 'str'>

In [81]:
print(type(tup4[0][0]))

<class 'str'>

In [82]:
print(tup4[0][0])

o

In [83]:
print(tup4[-1])

three

In [84]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')

In [85]:
# Slicing in tuples is same as slicing in list

In [86]:
del mytuple

In [87]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')

In [88]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

In [89]:
mytuple.count('one')

1

In [90]:
'one' in mytuple

True

In [91]:
mytuple2 = (43, 67, 99, 12, 6, 90, 67)

In [93]:
print(sorted(mytuple2))

[6, 12, 43, 67, 67, 90, 99]

In [102]:
mylist = [ 8,3,6,1,0,5 ]
#mylist.sort()
#print(mylist)
print(sorted(mylist))

[0, 1, 3, 5, 6, 8]

# SETS

1) Unordered & Unindexed collection of items.
2) Set elements are unique. Duplicate elements are not allowed.
3) Set elements are immutable (cannot be changed).
4) Set itself is mutable. We can add or remove items from it.

In [104]:
myset = {1,2,3,4,5,6}
myset

{1, 2, 3, 4, 5, 6}

In [105]:
my_set = {1,1,2,2,3,4,5,5}
my_set # Duplicate elements are not allowed.

{1, 2, 3, 4, 5}

In [106]:
myset3 = {10,20, "Hola", (11, 22, 32)} # Mixed datatypes
myset3

{(11, 22, 32), 10, 20, 'Hola'}

In [107]:
# print(myset3[0]) # -> as its unindexed can't be accessed

TypeError: 'set' object is not subscriptable

In [108]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
for i in enumerate(myset):
    print(i) # as its unordered it prints elements in random order

(0, 'four')
(1, 'seven')
(2, 'six')
(3, 'one')
(4, 'two')
(5, 'three')
(6, 'five')
(7, 'eight')

In [109]:
'eight' in myset

True

In [110]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

A | B | C

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [111]:
A.union(B, C) # Union of A, B and C.

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [112]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [113]:
A & B

{4, 5}

In [114]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [115]:
A - B # set of elements that are only in A but not in B

{1, 2, 3}

In [116]:
A.difference(B) # Difference of sets

{1, 2, 3}

In [117]:
A ^ B # Symmetric difference (Set of elements in A and B but not in both)

{1, 2, 3, 6, 7, 8}

# DICTIONARY

Dictionary is a mutable data type in Python.  
A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosed in curly braces {}.  
Keys must be unique in a dictionary, duplicate values are allowed.

In [118]:
mydict = {1:'one' , 2:'two' , 3:'three'} # dictionary with integer keys
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [119]:
mydict = dict({1:'one' , 2:'two' , 3:'three'}) # Create dictionary using dict()
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [120]:
mydict = {'A':'one' , 'B':'two' , 'C':'three'} # dictionary with character keys
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [123]:
mydict = {1:"Raj", 2:"Teja", 3:"Karthik"}
mydict

{1: 'Raj', 2: 'Teja', 3: 'Karthik'}

In [125]:
print(mydict.keys())

dict_keys([1, 2, 3])

In [126]:
print(mydict.values())

dict_values(['Raj', 'Teja', 'Karthik'])

In [127]:
print(mydict.items())

dict_items([(1, 'Raj'), (2, 'Teja'), (3, 'Karthik')])

In [128]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']}
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [129]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria'], "B": {'Name': 'Raj', 'Age': 10}, 'C': ('Bat', 'Tab', 'Cat')}
mydict

{1: 'one',
 2: 'two',
 'A': ['asif', 'john', 'Maria'],
 'B': {'Name': 'Raj', 'Age': 10},
 'C': ('Bat', 'Tab', 'Cat')}

In [131]:
keys = {'a', 'b', 'c', 'd'}
mydict3 = dict.fromkeys(keys)
mydict3

{'a': None, 'd': None, 'b': None, 'c': None}

In [1]:
keys = {'a', 'b', 'c', 'd'}
value = 10
mydict3 = dict.fromkeys(keys, value)
mydict3

{'a': 10, 'b': 10, 'd': 10, 'c': 10}

In [3]:
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [4]:
mydict[1]

'one'

In [5]:
mydict.get(1)

'one'

In [6]:
mydict1 = {'Name':'Raj', 'Id': 123, 'Dob': 1991, 'Job':'Data Engineer'}
mydict1.get('Job')

'Data Engineer'

In [8]:
print(mydict1.keys())

dict_keys(['Name', 'Id', 'Dob', 'Job'])

In [9]:
print(mydict1.values())

dict_values(['Raj', 123, 1991, 'Data Engineer'])

In [10]:
print(mydict1.values())

dict_values(['Raj', 123, 1991, 'Data Engineer'])

In [11]:
print(mydict1['Name'])

Raj

In [23]:
mydict1 = {'Name':'Raj', 'Id': 123, 'Dob': 1991, 'Job':'Data Engineer'}

In [24]:
mydict1['Name']='Tej'
print(mydict1)

{'Name': 'Tej', 'Id': 123, 'Dob': 1991, 'Job': 'Data Engineer'}

In [25]:
dict1 = {'Dob': 1995}
mydict1.update(dict1)
print(mydict1)

{'Name': 'Tej', 'Id': 123, 'Dob': 1995, 'Job': 'Data Engineer'}

In [26]:
mydict1.pop('Job')
print(mydict1)

{'Name': 'Tej', 'Id': 123, 'Dob': 1995}

In [27]:
print(mydict1.popitem())

('Dob', 1995)

In [28]:
print(mydict1)

{'Name': 'Tej', 'Id': 123}

In [29]:
del(mydict1['Id'])
print(mydict1)

{'Name': 'Tej'}

In [30]:
mydict1 = {'Name':'Raj', 'Id': 123, 'Dob': 1991, 'Job':'Data Engineer', 'address':'Los Angeles'}
print(mydict1)

{'Name': 'Raj', 'Id': 123, 'Dob': 1991, 'Job': 'Data Engineer', 'address': 'Los Angeles'}

In [31]:
mydict1 = mydict

In [33]:
print(id(mydict1), id(mydict))

4404734656 4404734656

In [34]:
mydict2 = mydict.copy()

In [35]:
id(mydict2)

4404920960

In [37]:
mydict1 = {'Name':'Raj', 'Id': 123, 'Dob': 1991, 'Job':'Data Engineer', 'address':'Los Angeles'}
print(mydict1)

{'Name': 'Raj', 'Id': 123, 'Dob': 1991, 'Job': 'Data Engineer', 'address': 'Los Angeles'}

In [38]:
for i in mydict1:
    print(i, ': ', mydict1[i])

Name :  Raj
Id :  123
Dob :  1991
Job :  Data Engineer
address :  Los Angeles

In [39]:
'Raj' in mydict1

False

In [40]:
'Raj' in mydict1.values()

True

In [42]:
key = ['one', 'two', 'three', 'four', 'five']
value = [1,2,3,4,5]

mydict = {k:v for (k,v) in zip(value, key)}
print(mydict)

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [43]:
for (k,v) in mydict.items():
    print(f"key: {k}, value: {v}")

key: 1, value: one
key: 2, value: two
key: 3, value: three
key: 4, value: four
key: 5, value: five

In [44]:
str1 = "abcdefghijklmnopqrstuvwxyz"
mydict3 = {i:i.upper() for i in str1}
print(mydict3)

{'a': 'A', 'b': 'B', 'c': 'C', 'd': 'D', 'e': 'E', 'f': 'F', 'g': 'G', 'h': 'H', 'i': 'I', 'j': 'J', 'k': 'K', 'l': 'L', 'm': 'M', 'n': 'N', 'o': 'O', 'p': 'P', 'q': 'Q', 'r': 'R', 's': 'S', 't': 'T', 'u': 'U', 'v': 'V', 'w': 'W', 'x': 'X', 'y': 'Y', 'z': 'Z'}

In [51]:
str5 = "Hey this is Chintu Model Kottapet"
mylsit4 = str5.split(" ")
myMap1 = {}
for i,v in enumerate(mylsit4):
    myMap1[i] = v
print(myMap1)

{0: 'Hey', 1: 'this', 2: 'is', 3: 'Chintu', 4: 'Model', 5: 'Kottapet'}

# args & kwargs

### args & kwargs
*args
* When we are not sure about the number of arguments being passed to a function then we can
use *args as function parameter.
* *args allow us to pass the variable number of Non Keyword Arguments to function.
* We can simply use an asterisk * before the parameter name to pass variable length
arguments.
* The arguments are always **passed as a tuple**.
* We can rename it to anything as long as it is preceded by a single asterisk (*). It's best
practice to keep naming it args to make it immediately recognizable.

### **kwargs
* **kwargs allows us to pass the variable number of Keyword Arguments to the function.  
* We can simply use an double asterisk ** before the parameter name to pass variable length
arguments.  
* The arguments are **passed as a dictionary**.  
* We can rename it to anything as long as it is preceded by a double asterisk (**). It's best  
practice to keep naming it kwargs to make it immediately recognizable.

In [52]:
def add1(*args):
    return sum(args)

print(add1(1,2))
print(add1(1,2,3))
print(add1(1,2,3,4))
print(add1(1,2,3,4,5))

3
6
10
15

In [55]:
list1 = [1,2,3,4,5,6,7,8,9]
tuple1 = (1,2,3,4,5,6,7,8,9)

print(add1(*list1), add1(*tuple1))

45 45

In [58]:
def user_details(*args):
    print(args)

user_details('Raj', 123, '123 LA Blvd Unit #22', 'Los Angeles', (1,2), [1,2,3], {1,2,3,3}, {'Name': 'Raj', 'Roll Number': 123})

('Raj', 123, '123 LA Blvd Unit #22', 'Los Angeles', (1, 2), [1, 2, 3], {1, 2, 3}, {'Name': 'Raj', 'Roll Number': 123})

In [60]:
def user_details(**kwargs):
    print(kwargs)

user_details(Name='Raj', Id=123)

{'Name': 'Raj', 'Id': 123}

In [61]:
mydict1 = {'Name':'Raj', 'Id': 123, 'Dob': 1991, 'Job':'Data Engineer', 'address':'Los Angeles'}
user_details(**mydict1)

{'Name': 'Raj', 'Id': 123, 'Dob': 1991, 'Job': 'Data Engineer', 'address': 'Los Angeles'}

# Lambda, Filter, Map and Reduce

### lambda Syntax:
lambda arguments(s) : expression

lambda num1, num2 : num1 + num2

### filter syntax:
filter (function, iterable)

filter (lambda n:n%2 == 1, list1)

### map syntax:
map ( function, iterable)

map ( lambda num : num * 2, list1)

### reduce syntax:
reduce ( function, iterable)

reduce ( lambda a,b : a+b, list1)

In [62]:
addition = lambda a : a+10
print(addition(5))

15

In [64]:
addition1 = lambda a,b,c : a+b+c
print(addition1(1,2,3))

6

In [65]:
res1 = lambda **kwargs: sum(kwargs.values())
print(res1(a=1,b=2,c=3,d=4))

10

In [66]:
res2 = lambda *args: sum(args)
print(res2(1,2,3,4))

10

In [67]:
def product(nums):
    total = 1
    for i in nums:
        total *= i
    return total

res2 = lambda **kwargs : product(kwargs.values())
print(res2(a=10,b=20,c=30))

6000

In [68]:
list1 = [1,2,3,4,5,6,7,8,9,10]

def odd(n):
    if n%2 == 1: return True
    else: False
    
odd_num = list(filter(odd, list1))
print(odd_num)

[1, 3, 5, 7, 9]

In [70]:
list1 = [1,2,3,4,5,6,7,8,9,10]

odd_num2 = list(filter(lambda n : n%2 == 1, list1))
print(odd_num2)

[1, 3, 5, 7, 9]

In [71]:
def twice(n):
    return n*2

doubles = list(map(twice,odd_num))
print(doubles)

[2, 6, 10, 14, 18]

In [72]:
doubles = list(map(lambda n:2*n, odd_num))
print(doubles)

[2, 6, 10, 14, 18]

In [74]:
from functools import reduce

def add(a,b):
    return a+b

sum_all = reduce(add,doubles)
print(sum_all)

50

In [75]:
sum_all2 = reduce(lambda *args : sum(args), doubles)
print(sum_all2)

50

In [77]:
list1 = [1,2,3,4,5,6,7,8,9,10]

even = list(filter(lambda n: n%2 == 0, list1))
odd = list(filter(lambda n: n%2 == 1, list1))

print('-------------')
print(even)
print(odd)
print('-------------')

list2 = ['one' , 'TWO' , 'three' , 'FOUR']

upper = list(filter(lambda n : n.isupper(), list2))
lower = list(filter(lambda n : n.islower(), list2))

print('-------------')
print(upper)
print(lower)
print('-------------')

list3 = ['one' , 'two2' , 'three3' ,'88' , '99' , '102']

numeric = list(filter(lambda n: n.isnumeric(), list3))
alpha = list(filter(lambda n: n.isalpha(), list3))
alphanum = list(filter(lambda n: n.isalnum(), list3))
print('-------------')
print(numeric)
print(alpha)
print(alphanum)
print('-------------')

-------------
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
-------------
-------------
['TWO', 'FOUR']
['one', 'three']
-------------
-------------
['88', '99', '102']
['one']
['one', 'two2', 'three3', '88', '99', '102']
-------------

In [78]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]

def double(x):
    return x+x

def add(x,y):
    return x+y

def square(x):
    return x*x
print('-------------')
print(list(map(double, list1)))
print(list(map(add, list1, list2)))
print(list(map(square, list1)))
print('-------------')
print(list(map(lambda x,y: x+y, list1, list2)))
print('-------------')

-------------
[2, 4, 6, 8]
[6, 8, 10, 12]
[1, 4, 9, 16]
-------------
[6, 8, 10, 12]
-------------

In [81]:
import operator 
list3 = [1,2,3,4]

product = reduce(operator.mul, list3)
print(product)

add = reduce(operator.add, list3)
print(add)

24
10

In [83]:
min_num = reduce(lambda a,b : a if a < b else b, list3)
print(min_num)

max_num = reduce(lambda a,b : a if a > b else b, list3)
print(max_num)

1
4

# Classes & Objects

* A Class is an object constructor or a "blueprint" for creating objects.
* Objects are nothing but an encapsulation of variables and functions into a single entity.
* Objects get their variables and functions from classes.
* To create a class we use the keyword class.
* The first string inside the class is called docstring which gives the brief description about the class.
* All classes have a function called \_\_init\_\_() which is always executed when the class is being initiated.
* We can use \_\_init\_\_() function to assign values to object properties or other operations that are necessary to perform when the object is being created
* The self parameter is a reference to the current instance of the class and is used to access class variables.
* self must be the first parameter of any function in the class
* The super() builtin function returns a temporary object of the superclass that allows us to access methods of the base class.
* super() allows us to avoid using the base class name explicitly and to enable multiple
inheritance.

In [84]:
class myclass:
    var1 = 10
    
obj1 = myclass()
print(obj1.var1)

10

In [85]:
class Employee:
    def __init__(self, name, empid):
        self.name = name
        self.empid = empid
    
    def greet(self):
        print("Thank you for joining ABC company, {}!!".format(self.name))
    
emp1 = Employee('Raj', 123)
print('Name :- ',emp1.name)
print('Employee ID :- ',emp1.empid)
emp1.greet()

Name :-  Raj
Employee ID :-  123
Thank you for joining ABC company, Raj!!

## Inheritance

In [86]:
class person:
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender
        
    def PersonInfo(self):
        print('Name :- {}'.format(self.name))
        print('Age :- {}'.format(self.age))
        print('Gender :- {}'.format(self.gender))
        
class student(person):
    def __init__(self, name, age, gender, studentid, fees):
        super().__init__(name, age, gender)
        self.studentid = studentid
        self.fees = fees
        
    def StudentInfo(self):
        print('Student ID :- {}'.format(self.studentid))
        print('Fees :- {}'.format(self.fees))
        
class teacher(person):
    def __init__(self, name, age, gender, empid, salary):
        super().__init__(name, age, gender)
        self.empid = empid
        self.salary = salary
    
    def TeacherInfo(self):
        print('Employee ID :- {}'.format(self.empid))
        print('Salary :- {}'.format(self.salary))
        
stud1 = student('Raj', 30, 'M', 123, 20000)
print('Student Details')
print('---------------')
stud1.PersonInfo() # PersonInfo() method presnt in Parent Class will be access
stud1.StudentInfo()
print()

teacher1 = teacher('Veera', 45, 'M', 312, 150000)
print('Employee Details')
print('---------------')
teacher1.PersonInfo() # PersonInfo() method presnt in Parent Class will be acc
teacher1.TeacherInfo()

Student Details
---------------
Name :- Raj
Age :- 30
Gender :- M
Student ID :- 123
Fees :- 20000

Employee Details
---------------
Name :- Veera
Age :- 45
Gender :- M
Employee ID :- 312
Salary :- 150000

## Multi-level inheritance

In [87]:
class person:
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender
        
    def PersonInfo(self):
        print('Name :- {}'.format(self.name))
        print('Age :- {}'.format(self.age))
        print('Gender :- {}'.format(self.gender))

class employee(person):
    def __init__(self, name, age, gender, empid, salary):
        super().__init__(name, age, gender)
        self.empid = empid
        self.salary = salary
    
    def employeeInfo(self):
        print('Employee ID :- {}'.format(self.empid))
        print('Salary :- {}'.format(self.salary))
    
class fulltime(employee):
    def __init__(self, name, age, gender, empid, salary, WorkExperience):
        super().__init__(name, age, gender, empid, salary)
        self.WorkExperience = WorkExperience
    
    def FulltimeInfo(self):
        print('Work Experience :- {}'.format(self.WorkExperience))
        
class contractual(employee):
    def __init__(self, name, age, gender, empid, salary, ContractExpiry):
        super().__init__(name, age, gender, empid, salary)
        self.ContractExpiry = ContractExpiry
    
    def ContractInfo(self):
        print('Contract Expiry :- {}'.format(self.ContractExpiry))
        
print('Contractual Employee Details')
print('****************************')
contract1 = contractual('Tej', 30, 'Male', 123, 100000, '31-Dec-2030')
contract1.PersonInfo()
contract1.employeeInfo()
contract1.ContractInfo()

Contractual Employee Details
****************************
Name :- Tej
Age :- 30
Gender :- Male
Employee ID :- 123
Salary :- 100000
Contract Expiry :- 31-Dec-2030

## Multiple Inheritance

In [88]:
class father:
    def __init__(self):
        self.fathername = str()
        
class mother:
    def __init__(self):
        self.mothername = str()
        
class son(father, mother):
    name = str()
    def show(self):
        print('My Name :- ',self.name)
        print("Father :", self.fathername)
        print("Mother :", self.mothername)
        
son1 = son()
son1.name = 'John'
son1.fathername = 'David'
son1.mothername = 'Rebecca'
son1.show()

My Name :-  John
Father : David
Mother : Rebecca

## Method Overriding

In [89]:
class person:
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender
    
    def greet(self):
        print("Hello Person")
        
class student(person):
    def __init__(self, name, age, gender, studentid, fees):
        super().__init__(name, age, gender)
        self.studentid = studentid
        self.fees = fees
    
    def greet(self):
        print("Hello Student")
        
stud = student('Raj', 30, 'Male', 123, 5000)
stud.greet()

person1 = person('Tej', 30, 'Male')
person1.greet()

Hello Student
Hello Person

# Iterable & Iterator

In [93]:
mylist = ['Asif' , 'Basit' , 'John' , 'Michael']
list_iter = iter(mylist)
print(next(list_iter))
print(next(list_iter))
print(next(list_iter))
print(next(list_iter))
print(next(list_iter))

Asif
Basit
John
Michael

StopIteration:

In [94]:
mylist = ['Asif' , 'Basit' , 'John' , 'Michael']
list_iter = iter(mylist)
for i in list_iter:
    print(i)

Asif
Basit
John
Michael

In [95]:
class myiter:
    def __init__(self):
        self.num = 0
    
    def __iter__(self):
        self.num = 1
        return self
    
    def __next__(self):
        if self.num <= 20:
            val = self.num
            self.num += 2
            return val
        else:
            raise StopIteration
        
myodd = myiter()
iter1 = iter(myodd)
for i in iter1:
    print(i)

1
3
5
7
9
11
13
15
17
19

# Generator

* Python generators are easy way of creating iterators. It generates values one at a time from a given sequence instead of returning the entire sequence at once.
* In a generator function, a **yield statement is used rather than a return statement**.
* The difference between yield and return is that **once yield returns a value the function is paused and the control is transferred to the caller**.

In [96]:
def mygen():
    n = 1
    yield n
    
    n += 1
    yield n
    
    n += 1
    yield n
    
    n += 1
    yield n
    
mygen1 = mygen()
print(next(mygen1))
print(next(mygen1))
print(next(mygen1))
print(next(mygen1))
print(next(mygen1))

1
2
3
4

StopIteration:

In [97]:
def mygen():
    for i in range(1,20):
        yield i

mygen1 = mygen()
for i in mygen1:
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [99]:
num = list(mygen())
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [100]:
list2 = [i**2 for i in range(1,10)]
print(list2)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [105]:
add_nums = lambda *args: sum(args)
print(add_nums(1,2,3,4))

10

In [107]:
print(list(filter(lambda x: x%2 == 0, [1,2,3,4,5,6,7,8,9,10])))

[2, 4, 6, 8, 10]

In [109]:
gen1 = [i for i in range(1,11) if i%2 == 0]
print(gen1)

[2, 4, 6, 8, 10]

# Decorator

Decorator is very powerful and useful tool in Python as it allows us to wrap another function in order to extend the behavior of wrapped function without permanently modifying it.

In [110]:
def InstallLinux():
    print('Linux installation has started \n')
def InstallWindows():
    print('Windows installation has started \n')
def InstallMac():
    print('Mac installation has started \n')
    
InstallLinux()
InstallWindows()
InstallMac()
    
print()

Linux installation has started

Windows installation has started

Mac installation has started

In [111]:
def InstallDecorator(func):
    def wrapper():
        print('Please accept terms & conditions')
        return func()
    return wrapper()

@InstallDecorator
def InstallLinux():
    print('Linux installation has started \n')
    
@InstallDecorator
def InstallWindows():
    print('Windows installation has started \n')
    
@InstallDecorator
def InstallMac():
    print('Mac installation has started \n')

Please accept terms & conditions
Linux installation has started

Please accept terms & conditions
Windows installation has started

Please accept terms & conditions
Mac installation has started

In [115]:
def InstallDecorator1(func):
    def wrapper():
        print('Please accept terms & conditions...\n')
        return func()
    return wrapper

def InstallDecorator2(func):
    def wrapper():
        print('Please enter correct license key...\n')
        return func()
    return wrapper


def InstallDecorator3(func):
    def wrapper():
        print('Please enter partitioning choice...\n')
        return func()
    return wrapper


@InstallDecorator1
@InstallDecorator2
@InstallDecorator3
def InstallLinux():
    print('Linux installation has started \n')
    
InstallLinux()

Please accept terms & conditions...

Please enter correct license key...

Please enter partitioning choice...

Linux installation has started

# File management

In [118]:
import os
print(os.getcwd())

/Users/rajuks1991/Documents/Tech_Knowledge/Python

In [128]:
fileobj = open('sample3.txt')

In [129]:
fileobj.read()

'Quod equidem non reprehendo;\nLorem ipsum dolor sit amet, consectetur adipiscing elit. Quibus natura iure responderit non esse verum aliunde finem beate vivendi, a se principia rei gerendae peti; Quae enim adhuc protulisti, popularia sunt, ego autem a te elegantiora desidero. Duo Reges: constructio interrete. Tum Lucius: Mihi vero ista valde probata sunt, quod item fratri puto. Bestiarum vero nullum iudicium puto. Nihil enim iam habes, quod ad corpus referas; Deinde prima illa, quae in congressu solemus: Quid tu, inquit, huc? Et homini, qui ceteris animantibus plurimum praestat, praecipue a natura nihil datum esse dicemus?\n\nIam id ipsum absurdum, maximum malum neglegi. Quod ea non occurrentia fingunt, vincunt Aristonem; Atqui perspicuum est hominem e corpore animoque constare, cum primae sint animi partes, secundae corporis. Fieri, inquam, Triari, nullo pacto potest, ut non dicas, quid non probes eius, a quo dissentias. Equidem e Cn. An dubium est, quin virtus ita maximam partem optineat in rebus humanis, ut reliquas obruat?\n\nQuis istum dolorem timet?\nSummus dolor plures dies manere non potest? Dicet pro me ipsa virtus nec dubitabit isti vestro beato M. Tubulum fuisse, qua illum, cuius is condemnatus est rogatione, P. Quod si ita sit, cur opera philosophiae sit danda nescio.\n\nEx eorum enim scriptis et institutis cum omnis doctrina liberalis, omnis historia.\nQuod si ita est, sequitur id ipsum, quod te velle video, omnes semper beatos esse sapientes. Cum enim fertur quasi torrens oratio, quamvis multa cuiusque modi rapiat, nihil tamen teneas, nihil apprehendas, nusquam orationem rapidam coerceas. Ita redarguitur ipse a sese, convincunturque scripta eius probitate ipsius ac moribus. At quanta conantur! Mundum hunc omnem oppidum esse nostrum! Incendi igitur eos, qui audiunt, vides. Vide, ne magis, inquam, tuum fuerit, cum re idem tibi, quod mihi, videretur, non nova te rebus nomina inponere. Qui-vere falsone, quaerere mittimus-dicitur oculis se privasse; Si ista mala sunt, in quae potest incidere sapiens, sapientem esse non esse ad beate vivendum satis. At vero si ad vitem sensus accesserit, ut appetitum quendam habeat et per se ipsa moveatur, quid facturam putas?\n\nQuem si tenueris, non modo meum Ciceronem, sed etiam me ipsum abducas licebit.\nStulti autem malorum memoria torquentur, sapientes bona praeterita grata recordatione renovata delectant.\nEsse enim quam vellet iniquus iustus poterat inpune.\nQuae autem natura suae primae institutionis oblita est?\nVerum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt;\nHoc est non modo cor non habere, sed ne palatum quidem.\nVoluptatem cum summum bonum diceret, primum in eo ipso parum vidit, deinde hoc quoque alienum; Sed tu istuc dixti bene Latine, parum plane. Nam haec ipsa mihi erunt in promptu, quae modo audivi, nec ante aggrediar, quam te ab istis, quos dicis, instructum videro. Fatebuntur Stoici haec omnia dicta esse praeclare, neque eam causam Zenoni desciscendi fuisse. Non autem hoc: igitur ne illud quidem. Ratio quidem vestra sic cogit. Cum audissem Antiochum, Brute, ut solebam, cum M. An quod ita callida est, ut optime possit architectari voluptates?\n\nIdemne, quod iucunde?\nHaec mihi videtur delicatior, ut ita dicam, molliorque ratio, quam virtutis vis gravitasque postulat. Sed quoniam et advesperascit et mihi ad villam revertendum est, nunc quidem hactenus; Cuius ad naturam apta ratio vera illa et summa lex a philosophis dicitur. Neque solum ea communia, verum etiam paria esse dixerunt. Sed nunc, quod agimus; A mene tu?'

In [131]:
fileobj.read()

''

In [132]:
fileobj.seek(0)
fileobj.read()

'Quod equidem non reprehendo;\nLorem ipsum dolor sit amet, consectetur adipiscing elit. Quibus natura iure responderit non esse verum aliunde finem beate vivendi, a se principia rei gerendae peti; Quae enim adhuc protulisti, popularia sunt, ego autem a te elegantiora desidero. Duo Reges: constructio interrete. Tum Lucius: Mihi vero ista valde probata sunt, quod item fratri puto. Bestiarum vero nullum iudicium puto. Nihil enim iam habes, quod ad corpus referas; Deinde prima illa, quae in congressu solemus: Quid tu, inquit, huc? Et homini, qui ceteris animantibus plurimum praestat, praecipue a natura nihil datum esse dicemus?\n\nIam id ipsum absurdum, maximum malum neglegi. Quod ea non occurrentia fingunt, vincunt Aristonem; Atqui perspicuum est hominem e corpore animoque constare, cum primae sint animi partes, secundae corporis. Fieri, inquam, Triari, nullo pacto potest, ut non dicas, quid non probes eius, a quo dissentias. Equidem e Cn. An dubium est, quin virtus ita maximam partem optineat in rebus humanis, ut reliquas obruat?\n\nQuis istum dolorem timet?\nSummus dolor plures dies manere non potest? Dicet pro me ipsa virtus nec dubitabit isti vestro beato M. Tubulum fuisse, qua illum, cuius is condemnatus est rogatione, P. Quod si ita sit, cur opera philosophiae sit danda nescio.\n\nEx eorum enim scriptis et institutis cum omnis doctrina liberalis, omnis historia.\nQuod si ita est, sequitur id ipsum, quod te velle video, omnes semper beatos esse sapientes. Cum enim fertur quasi torrens oratio, quamvis multa cuiusque modi rapiat, nihil tamen teneas, nihil apprehendas, nusquam orationem rapidam coerceas. Ita redarguitur ipse a sese, convincunturque scripta eius probitate ipsius ac moribus. At quanta conantur! Mundum hunc omnem oppidum esse nostrum! Incendi igitur eos, qui audiunt, vides. Vide, ne magis, inquam, tuum fuerit, cum re idem tibi, quod mihi, videretur, non nova te rebus nomina inponere. Qui-vere falsone, quaerere mittimus-dicitur oculis se privasse; Si ista mala sunt, in quae potest incidere sapiens, sapientem esse non esse ad beate vivendum satis. At vero si ad vitem sensus accesserit, ut appetitum quendam habeat et per se ipsa moveatur, quid facturam putas?\n\nQuem si tenueris, non modo meum Ciceronem, sed etiam me ipsum abducas licebit.\nStulti autem malorum memoria torquentur, sapientes bona praeterita grata recordatione renovata delectant.\nEsse enim quam vellet iniquus iustus poterat inpune.\nQuae autem natura suae primae institutionis oblita est?\nVerum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt;\nHoc est non modo cor non habere, sed ne palatum quidem.\nVoluptatem cum summum bonum diceret, primum in eo ipso parum vidit, deinde hoc quoque alienum; Sed tu istuc dixti bene Latine, parum plane. Nam haec ipsa mihi erunt in promptu, quae modo audivi, nec ante aggrediar, quam te ab istis, quos dicis, instructum videro. Fatebuntur Stoici haec omnia dicta esse praeclare, neque eam causam Zenoni desciscendi fuisse. Non autem hoc: igitur ne illud quidem. Ratio quidem vestra sic cogit. Cum audissem Antiochum, Brute, ut solebam, cum M. An quod ita callida est, ut optime possit architectari voluptates?\n\nIdemne, quod iucunde?\nHaec mihi videtur delicatior, ut ita dicam, molliorque ratio, quam virtutis vis gravitasque postulat. Sed quoniam et advesperascit et mihi ad villam revertendum est, nunc quidem hactenus; Cuius ad naturam apta ratio vera illa et summa lex a philosophis dicitur. Neque solum ea communia, verum etiam paria esse dixerunt. Sed nunc, quod agimus; A mene tu?'

In [134]:
fileobj.seek(7)
fileobj.read()

'uidem non reprehendo;\nLorem ipsum dolor sit amet, consectetur adipiscing elit. Quibus natura iure responderit non esse verum aliunde finem beate vivendi, a se principia rei gerendae peti; Quae enim adhuc protulisti, popularia sunt, ego autem a te elegantiora desidero. Duo Reges: constructio interrete. Tum Lucius: Mihi vero ista valde probata sunt, quod item fratri puto. Bestiarum vero nullum iudicium puto. Nihil enim iam habes, quod ad corpus referas; Deinde prima illa, quae in congressu solemus: Quid tu, inquit, huc? Et homini, qui ceteris animantibus plurimum praestat, praecipue a natura nihil datum esse dicemus?\n\nIam id ipsum absurdum, maximum malum neglegi. Quod ea non occurrentia fingunt, vincunt Aristonem; Atqui perspicuum est hominem e corpore animoque constare, cum primae sint animi partes, secundae corporis. Fieri, inquam, Triari, nullo pacto potest, ut non dicas, quid non probes eius, a quo dissentias. Equidem e Cn. An dubium est, quin virtus ita maximam partem optineat in rebus humanis, ut reliquas obruat?\n\nQuis istum dolorem timet?\nSummus dolor plures dies manere non potest? Dicet pro me ipsa virtus nec dubitabit isti vestro beato M. Tubulum fuisse, qua illum, cuius is condemnatus est rogatione, P. Quod si ita sit, cur opera philosophiae sit danda nescio.\n\nEx eorum enim scriptis et institutis cum omnis doctrina liberalis, omnis historia.\nQuod si ita est, sequitur id ipsum, quod te velle video, omnes semper beatos esse sapientes. Cum enim fertur quasi torrens oratio, quamvis multa cuiusque modi rapiat, nihil tamen teneas, nihil apprehendas, nusquam orationem rapidam coerceas. Ita redarguitur ipse a sese, convincunturque scripta eius probitate ipsius ac moribus. At quanta conantur! Mundum hunc omnem oppidum esse nostrum! Incendi igitur eos, qui audiunt, vides. Vide, ne magis, inquam, tuum fuerit, cum re idem tibi, quod mihi, videretur, non nova te rebus nomina inponere. Qui-vere falsone, quaerere mittimus-dicitur oculis se privasse; Si ista mala sunt, in quae potest incidere sapiens, sapientem esse non esse ad beate vivendum satis. At vero si ad vitem sensus accesserit, ut appetitum quendam habeat et per se ipsa moveatur, quid facturam putas?\n\nQuem si tenueris, non modo meum Ciceronem, sed etiam me ipsum abducas licebit.\nStulti autem malorum memoria torquentur, sapientes bona praeterita grata recordatione renovata delectant.\nEsse enim quam vellet iniquus iustus poterat inpune.\nQuae autem natura suae primae institutionis oblita est?\nVerum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt;\nHoc est non modo cor non habere, sed ne palatum quidem.\nVoluptatem cum summum bonum diceret, primum in eo ipso parum vidit, deinde hoc quoque alienum; Sed tu istuc dixti bene Latine, parum plane. Nam haec ipsa mihi erunt in promptu, quae modo audivi, nec ante aggrediar, quam te ab istis, quos dicis, instructum videro. Fatebuntur Stoici haec omnia dicta esse praeclare, neque eam causam Zenoni desciscendi fuisse. Non autem hoc: igitur ne illud quidem. Ratio quidem vestra sic cogit. Cum audissem Antiochum, Brute, ut solebam, cum M. An quod ita callida est, ut optime possit architectari voluptates?\n\nIdemne, quod iucunde?\nHaec mihi videtur delicatior, ut ita dicam, molliorque ratio, quam virtutis vis gravitasque postulat. Sed quoniam et advesperascit et mihi ad villam revertendum est, nunc quidem hactenus; Cuius ad naturam apta ratio vera illa et summa lex a philosophis dicitur. Neque solum ea communia, verum etiam paria esse dixerunt. Sed nunc, quod agimus; A mene tu?'

In [135]:
fileobj.seek(0)
fileobj.read(10)

'Quod equid'

In [136]:
fileobj.tell()

10

In [138]:
fileobj.seek(0)
print(fileobj.readline())
print(fileobj.readline())
print(fileobj.readline())
print(fileobj.readline())

Quod equidem non reprehendo;

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quibus natura iure responderit non esse verum aliunde finem beate vivendi, a se principia rei gerendae peti; Quae enim adhuc protulisti, popularia sunt, ego autem a te elegantiora desidero. Duo Reges: constructio interrete. Tum Lucius: Mihi vero ista valde probata sunt, quod item fratri puto. Bestiarum vero nullum iudicium puto. Nihil enim iam habes, quod ad corpus referas; Deinde prima illa, quae in congressu solemus: Quid tu, inquit, huc? Et homini, qui ceteris animantibus plurimum praestat, praecipue a natura nihil datum esse dicemus?



Iam id ipsum absurdum, maximum malum neglegi. Quod ea non occurrentia fingunt, vincunt Aristonem; Atqui perspicuum est hominem e corpore animoque constare, cum primae sint animi partes, secundae corporis. Fieri, inquam, Triari, nullo pacto potest, ut non dicas, quid non probes eius, a quo dissentias. Equidem e Cn. An dubium est, quin virtus ita maximam partem optineat in rebus humanis, ut reliquas obruat?

In [139]:
fileobj.seek(0)
count = 0
for i in range(5):
    if count < 5:
        print(fileobj.readline())
    else:
        break
    count += 1

Quod equidem non reprehendo;

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quibus natura iure responderit non esse verum aliunde finem beate vivendi, a se principia rei gerendae peti; Quae enim adhuc protulisti, popularia sunt, ego autem a te elegantiora desidero. Duo Reges: constructio interrete. Tum Lucius: Mihi vero ista valde probata sunt, quod item fratri puto. Bestiarum vero nullum iudicium puto. Nihil enim iam habes, quod ad corpus referas; Deinde prima illa, quae in congressu solemus: Quid tu, inquit, huc? Et homini, qui ceteris animantibus plurimum praestat, praecipue a natura nihil datum esse dicemus?



Iam id ipsum absurdum, maximum malum neglegi. Quod ea non occurrentia fingunt, vincunt Aristonem; Atqui perspicuum est hominem e corpore animoque constare, cum primae sint animi partes, secundae corporis. Fieri, inquam, Triari, nullo pacto potest, ut non dicas, quid non probes eius, a quo dissentias. Equidem e Cn. An dubium est, quin virtus ita maximam partem optineat in rebus humanis, ut reliquas obruat?

In [140]:
fileobj = open('sample3.txt', 'a')
fileobj.write('THIS IS NEW CONTENT BEING ADDED RIGHT NOW.')
fileobj.close()

fileobj = open('sample3.txt')
fileobj.read()

'Quod equidem non reprehendo;\nLorem ipsum dolor sit amet, consectetur adipiscing elit. Quibus natura iure responderit non esse verum aliunde finem beate vivendi, a se principia rei gerendae peti; Quae enim adhuc protulisti, popularia sunt, ego autem a te elegantiora desidero. Duo Reges: constructio interrete. Tum Lucius: Mihi vero ista valde probata sunt, quod item fratri puto. Bestiarum vero nullum iudicium puto. Nihil enim iam habes, quod ad corpus referas; Deinde prima illa, quae in congressu solemus: Quid tu, inquit, huc? Et homini, qui ceteris animantibus plurimum praestat, praecipue a natura nihil datum esse dicemus?\n\nIam id ipsum absurdum, maximum malum neglegi. Quod ea non occurrentia fingunt, vincunt Aristonem; Atqui perspicuum est hominem e corpore animoque constare, cum primae sint animi partes, secundae corporis. Fieri, inquam, Triari, nullo pacto potest, ut non dicas, quid non probes eius, a quo dissentias. Equidem e Cn. An dubium est, quin virtus ita maximam partem optineat in rebus humanis, ut reliquas obruat?\n\nQuis istum dolorem timet?\nSummus dolor plures dies manere non potest? Dicet pro me ipsa virtus nec dubitabit isti vestro beato M. Tubulum fuisse, qua illum, cuius is condemnatus est rogatione, P. Quod si ita sit, cur opera philosophiae sit danda nescio.\n\nEx eorum enim scriptis et institutis cum omnis doctrina liberalis, omnis historia.\nQuod si ita est, sequitur id ipsum, quod te velle video, omnes semper beatos esse sapientes. Cum enim fertur quasi torrens oratio, quamvis multa cuiusque modi rapiat, nihil tamen teneas, nihil apprehendas, nusquam orationem rapidam coerceas. Ita redarguitur ipse a sese, convincunturque scripta eius probitate ipsius ac moribus. At quanta conantur! Mundum hunc omnem oppidum esse nostrum! Incendi igitur eos, qui audiunt, vides. Vide, ne magis, inquam, tuum fuerit, cum re idem tibi, quod mihi, videretur, non nova te rebus nomina inponere. Qui-vere falsone, quaerere mittimus-dicitur oculis se privasse; Si ista mala sunt, in quae potest incidere sapiens, sapientem esse non esse ad beate vivendum satis. At vero si ad vitem sensus accesserit, ut appetitum quendam habeat et per se ipsa moveatur, quid facturam putas?\n\nQuem si tenueris, non modo meum Ciceronem, sed etiam me ipsum abducas licebit.\nStulti autem malorum memoria torquentur, sapientes bona praeterita grata recordatione renovata delectant.\nEsse enim quam vellet iniquus iustus poterat inpune.\nQuae autem natura suae primae institutionis oblita est?\nVerum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt;\nHoc est non modo cor non habere, sed ne palatum quidem.\nVoluptatem cum summum bonum diceret, primum in eo ipso parum vidit, deinde hoc quoque alienum; Sed tu istuc dixti bene Latine, parum plane. Nam haec ipsa mihi erunt in promptu, quae modo audivi, nec ante aggrediar, quam te ab istis, quos dicis, instructum videro. Fatebuntur Stoici haec omnia dicta esse praeclare, neque eam causam Zenoni desciscendi fuisse. Non autem hoc: igitur ne illud quidem. Ratio quidem vestra sic cogit. Cum audissem Antiochum, Brute, ut solebam, cum M. An quod ita callida est, ut optime possit architectari voluptates?\n\nIdemne, quod iucunde?\nHaec mihi videtur delicatior, ut ita dicam, molliorque ratio, quam virtutis vis gravitasque postulat. Sed quoniam et advesperascit et mihi ad villam revertendum est, nunc quidem hactenus; Cuius ad naturam apta ratio vera illa et summa lex a philosophis dicitur. Neque solum ea communia, verum etiam paria esse dixerunt. Sed nunc, quod agimus; A mene tu?THIS IS NEW CONTENT BEING ADDED RIGHT NOW.'

In [142]:
fileobj = open('sample3.txt', 'w')
fileobj.write("THIS IS NEW CONTENT BEING WRITTEN. OLD DATA WILL BE OVERWRITTEN")
fileobj.close()

fileobj = open('sample3.txt')
fileobj.read()

'THIS IS NEW CONTENT BEING WRITTEN. OLD DATA WILL BE OVERWRITTEN'

In [143]:
fileobj = open('new_sample3.txt', 'w')
fileobj.write("First Line \n")
fileobj.write("Second Line \n")
fileobj.write("Third Line \n")
fileobj.write("Fourth Line \n")
fileobj.write("Fifth Line \n")
fileobj.close()

fileobj = open('new_sample3.txt')
fileobj.read()

'First Line \nSecond Line \nThird Line \nFourth Line \nFifth Line \n'

In [144]:
os.remove('new_sample3.txt')

In [145]:
os.remove('new_sample3.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'new_sample3.txt'

In [146]:
os.rmdir('sample3/')

In [147]:
os.rmdir('sample3/')

FileNotFoundError: [Errno 2] No such file or directory: 'sample3/'

# Error and Exception Handling

* The order goes: 

**try:** 

**except:**

**else:**

**finally:**

In [149]:
import sys

try:
    print(100/0)
except:
    print(sys.exc_info()[1] , 'Exception occured')
else:
    print('no exception occured')
finally:
    print('Run this block of code always')

division by zero Exception occured
Run this block of code always

In [150]:
try:
    x = 13
    y = 12
    print(x/y)
    os.rmdir('sample3/')
except NameError:
    print('NameError exception occurred')
except FileNotFoundError:
    print('FileNotFoundError exception occurred')
except ZeroDivisionError:
    print('ZeroDivisionError exception occurred')

1.0833333333333333
FileNotFoundError exception occurred

In [151]:
try:
    a = 50
    b = 'Raj'
    assert a == b 
except AssertionError:
    print ("Assertion Exception Raised.")
    print(sys.exc_info()[1], ' -> exception occured')

Assertion Exception Raised.
  -> exception occured

In [153]:
try:
    a = 50
    b = 0
    print(a/b)
except ZeroDivisionError:
    print ("Assertion Exception Raised.")
    print(sys.exc_info()[1], ' -> exception occured')

Assertion Exception Raised.
division by zero  -> exception occured